* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
}

.App {
  background-color: rebeccapurple;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 0.75rem;
}
